.scroll_trigger_box{
    width: 200px; 
    height: 200px; 
    background-color: orange;
}
 

.scroll_trigger{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}